SECRET_KEY=여기에-랜덤-문자열-넣기

DEBUG=False

ALLOWED_HOSTS=127.0.0.1,localhost,192.168.1.9,.trycloudflare.com

CSRF_TRUSTED_ORIGINS=https://*.trycloudflare.com,http://localhost,http://127.0.0.1,http://192.168.1.9

DB_NAME=classq
DB_USER=postgres
DB_PASSWORD=1234
DB_HOST=db
DB_PORT=5432

GOOGLE_CLIENT_ID=google-API-아이디
GOOGLE_CLIENT_SECRET=google-API-패스워드
