asgiref==3.11.1
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
crispy-bootstrap4==2026.2
cryptography==48.0.0
Django==6.0.5
django-allauth==65.17.0
django-crispy-forms==2.6
django-extensions==4.1
idna==3.16
jwt==1.4.0
pillow==12.2.0
pycparser==3.0
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
